body {
  margin: 1em;
 
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  ul {
    background: #3399ff;
    padding: 10px;
  }
}
ul li {
  background: #e5e7e9;
  color: rgb(2, 2, 106);
  margin: 5px;
}

